.chat-area {
  background-color: black;
  flex-grow: 1;
  background-image: url("../../assets/chat_area_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.chat-area-bg {
  object-fit: cover;
}
